/* colors: blue: #00239CFF , #00539CFF, #0063B2FF, #00539CFF */
/* red: #E10600FF,  #990011FF,   #ED2B33FF,  #FC766AFF */
.home-link {
    text-decoration: none;
    color: #00239cff;
    font-weight: 550;
}

.projects-image {
    width: 55vw;
}

.projects-mobile {
    width: 120vw;
}

.color-text {
    color: #00239cff;
    font-weight: 500;
}

.menu-image {
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    width: 60px;
}

.menu-button {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    font-size: large;
    position: relative;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.menu-button:hover:after {
    width: 100%;
    left: 0;
}

.menu-button:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #00239cff;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
}

.menu {
    padding-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.active::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #00239cff;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 100%;
}

.BorderCorner_wrap {
    display: flex;
    justify-content: center;
    text-align: center;
}
.BorderCorner {
    border: 2px solid #00239cff;
    display: inline-block;
    margin: 25px auto;
    padding: 25px;
    position: relative;
    /* min-width: auto; */
}
.bordercorner-inside {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 5;
}
.BorderCorner::before,
.BorderCorner::after {
    content: '';
    position: absolute;
    background: white;
}

.BorderCorner::before {
    width: calc(100% + 50px + 4px - 120px);
    height: calc(100% + 4px);
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.BorderCorner::after {
    height: calc(100% + 50px + 4px - 120px);
    width: calc(100% + 4px);
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
